.movie {
  cursor: pointer;
}

.movies_container {
  flex: 1 1 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid black;
}

.dark .movies_container {
  border-color: #015241;
}

.movies {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.movies thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.dark .movies thead tr {
  background-color: #013026;
  color: #b0b0b0;
}

.movies th,
.movies td {
  padding: 12px 15px;
}

.movies tbody tr {
  border-bottom: 1px solid #dddddd;
}

.dark .movies tbody tr {
  border-color: #015241;
}

.movies tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.dark .movies tbody tr:nth-of-type(even) {
  background-color: #353434;
  color: #b0b0b0;
}

.movies tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
