.fetch-error {
  height: 100%;
}

.home-container {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}

.controls {
  display: flex;
  gap: 60px;
}

.theme-toggle {
  background-color: rgba(177, 253, 229, 0.775);
}

.dark .theme-toggle {
  background-color: rgba(3, 99, 69, 0.775);
  color: white;
}
